# Ignore the folder with csv's
datasets/

# Ignore the file with the .txts that create the workers
persisted_data/ 

# Ignore the debug directory
debug/

# Ignore files for debugging
docker_output.log
containers_list.txt