# QUERY 1
-filter_category_computers_worker$./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$CATEGORY=Computers$DATA_SOURCE_NAME=q1_titles$DATA_OUTPUT_NAME=QUEUE_Q1|filter_title_worker$EOF_QUEUE=QUEUE_Q1|eof_category$ITERATION_QUEUE=QUEUE_Q1|iteration_category
-filter_title_worker$./workers_dockerfiles/filter_title_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$TITLE_TO_FILTER=distributed$DATA_SOURCE_NAME=QUEUE_Q1|filter_title_worker$DATA_OUTPUT_NAME=QUEUE_Q1|filter_year_worker$EOF_QUEUE=QUEUE_Q1|eof_title$ITERATION_QUEUE=QUEUE_Q1|iteration_title
-filter_year_worker_q1-$./workers_dockerfiles/filter_year_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=1$WORKERS_QUANTITY=3$YEAR_RANGE_TO_FILTER=2000,2023$DATA_SOURCE_NAME=QUEUE_Q1|filter_year_worker$DATA_OUTPUT_NAME=QUEUE_q1_results$EOF_QUEUE=QUEUE_Q1|eof_year$END=True$ITERATION_QUEUE=QUEUE_Q1|iteration_year

# QUERY 2
-decade_counter_worker$./workers_dockerfiles/decade_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=3$DATA_SOURCE_NAME=q2_titles$DATA_OUTPUT_NAME=QUEUE_Q2|global_decade_counter_worker$ITERATION_QUEUE=QUEUE_Q2|iteration_decade_counter
-global_decade_counter_worker$./workers_dockerfiles/global_decade_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=1$DATA_SOURCE_NAME=QUEUE_Q2|global_decade_counter_worker$DATA_OUTPUT_NAME=QUEUE_q2_results$EOF_QUANTITY=3$ACCUMULATOR=True$ITERATION_QUEUE=QUEUE_Q2|iteration_decade_counter

# QUERY 3
-filter_year_worker_q3-$./workers_dockerfiles/filter_year_worker.dockerfile
+PYTHONUNBUFFERED=1$WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$YEAR_RANGE_TO_FILTER=1990,1999$DATA_SOURCE_NAME=q3_titles$DATA_OUTPUT_NAME=QUEUE_Q3|hash_title_worker$EXCHANGE_TYPE=fanout$EOF_QUEUE=QUEUE_Q3|eof_year$ITERATION_QUEUE=QUEUE_Q3|iteration_year
-hash_title_worker$./workers_dockerfiles/hash_title_worker.dockerfile
+WORKER_ID=0$DATA_SOURCE_NAME=QUEUE_Q3|hash_title_worker,QUEUE_Q5|hash_title_worker,q3_reviews,QUEUE_Q5|hash_review_worker$DATA_OUTPUT_NAME=hashed$HASH_MODULUS=6$WORKERS_QUANTITY=3$Q3_QUANTITY=0$Q5_QUANTITY=0$EOF_QUANTITY=3$ACCUMULATOR=True$EOF_QUEUE=QUEUE_Q3|eof_hash$ITERATION_QUEUE=QUEUE_Q3|iteration_hash
-reviews_counter_worker$./workers_dockerfiles/reviews_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=6$DATA_SOURCE_NAME=hashed$DATA_OUTPUT_NAME=QUEUE_Q3|filter_review_quantity_worker$EOF_QUANTITY=3$ACCUMULATOR=True
-filter_review_quantity_worker$./workers_dockerfiles/filter_review_quantity_worker.dockerfile
+DATA_SOURCE_NAME=QUEUE_Q3|filter_review_quantity_worker$DATA_OUTPUT_NAME=QUEUE_q3_results,QUEUE_Q4|top10_worker$MIN_QUANTITY=500$EOF_QUANTITY=6$WORKERS_QUANTITY=1$NEXT_WORKER_QUANTITY=5$ACCUMULATOR=True

# QUERY 4
-top10_worker$./workers_dockerfiles/top_10_worker.dockerfile
+TOP_N=10$DATA_SOURCE_NAME=QUEUE_Q4|top10_worker$DATA_OUTPUT_NAME=QUEUE_Q4|top10_last_worker$WORKERS_QUANTITY=5$LAST=0$WORKER_ID=0$EOF_QUANTITY=1$ITERATION_QUEUE=QUEUE_Q4|iteration_top10
-top_10_worker_last$./workers_dockerfiles/top_10_worker.dockerfile
+TOP_N=10$DATA_SOURCE_NAME=QUEUE_Q4|top10_last_worker$DATA_OUTPUT_NAME=QUEUE_q4_results$WORKERS_QUANTITY=1$LAST=1$WORKER_ID=0$EOF_QUANTITY=3$ACCUMULATOR=True$ITERATION_QUEUE=QUEUE_Q4|iteration_top10

# QUERY 5
-review_sentiment_worker$./workers_dockerfiles/review_sentiment_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=4$DATA_SOURCE_NAME=q5_reviews$DATA_OUTPUT_NAME=QUEUE_Q5|hash_review_worker$EOF_QUEUE=QUEUE_Q5|eof_review_sentiment$NEXT_WORKER_QUANTITY=3$ITERATION_QUEUE=QUEUE_Q5|iteration_review_sentiment
-filter_category_worker$./workers_dockerfiles/filter_category_worker.dockerfile
+PYTHONUNBUFFERED=1$WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$CATEGORY=Fiction$DATA_SOURCE_NAME=q5_titles$DATA_OUTPUT_NAME=QUEUE_Q5|hash_title_worker$EOF_QUEUE=QUEUE_Q5|eof_category$ITERATION_QUEUE=QUEUE_Q5|iteration_category
-mean_review_sentiment_worker$./workers_dockerfiles/mean_review_sentiment_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=6$DATA_SOURCE_NAME=hashed$DATA_OUTPUT_NAME=QUEUE_Q5|percentile_worker$EOF_QUANTITY=3$ACCUMULATOR=True
-percentile_worker$./workers_dockerfiles/percentile_worker.dockerfile
+PYTHONUNBUFFERED=1$DATA_SOURCE_NAME=QUEUE_Q5|percentile_worker$DATA_OUTPUT_NAME=QUEUE_q5_results$PERCENTILE=90$WORKER_ID=0$WORKERS_QUANTITY=1$EOF_QUANTITY=6$ACCUMULATOR=True