# QUERY COORDINATOR
-query_coordinator_worker$./query_coordinator/query_coordinator_worker.dockerfile
+WORKERS_QUANTITY=1$WORKERS_Q1=3,QUEUE_Q1|filter_category_worker$WORKERS_Q2=3,QUEUE_Q2|decade_counter_worker$WORKERS_Q3_TITLES=3,QUEUE_Q3|filter_year_worker$WORKERS_Q3_REVIEWS=6,QUEUE_Q3|reviews_counter_worker_reviews$WORKERS_Q5_TITLES=3,QUEUE_Q5|filter_category_worker$WORKERS_Q5_REVIEWS=4,QUEUE_Q5|review_sentiment_worker$EOF_QUANTITY=3,1,1,1,1$LOG_RESULTS=query_coordinator_results$LOG_DATA=query_coordinator_data$MAX_UNACKED_MSGS=5

# CONTAINER COORDINATORS
-container_coordinator_$./container_coordinator/container_coordinator.dockerfile
+LISTEN_BACKLOG=10$ID=0$WORKERS_PORT=4321$WORKERS_QUANTITY=3

# QUERY 1
-filter_category_computers_worker$./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$CATEGORY=Computers$DATA_SOURCE_NAME=QUEUE_Q1|filter_category_worker$DATA_OUTPUT_NAME=QUEUE_Q1|filter_title_worker$EOF_QUANTITY=1$LAST=0$LOG=filter_category_computers_worker_q1
-filter_title_worker$./workers_dockerfiles/filter_title_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=3$WORKERS_QUANTITY=3$TITLE_TO_FILTER=distributed$DATA_SOURCE_NAME=QUEUE_Q1|filter_title_worker$DATA_OUTPUT_NAME=QUEUE_Q1|filter_year_worker$EOF_QUANTITY=3$LAST=0$LOG=filter_title_worker_q1
-filter_year_worker_q1-$./workers_dockerfiles/filter_year_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=1$WORKERS_QUANTITY=3$YEAR_RANGE_TO_FILTER=2000,2023$DATA_SOURCE_NAME=QUEUE_Q1|filter_year_worker$DATA_OUTPUT_NAME=QUEUE_q1_results$END=True$EOF_QUANTITY=3$LAST=1$LOG=filter_year_worker_q1

# QUERY 2
-decade_counter_worker$./workers_dockerfiles/decade_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=3$NEXT_WORKERS_QUANTITY=1$DATA_SOURCE_NAME=QUEUE_Q2|decade_counter_worker$DATA_OUTPUT_NAME=QUEUE_Q2|global_decade_counter_worker$LOG=decade_counter_worker_q2$EOF_QUANTITY=1
-global_decade_counter_worker$./workers_dockerfiles/global_decade_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=1$NEXT_WORKERS_QUANTITY=1$DATA_SOURCE_NAME=QUEUE_Q2|global_decade_counter_worker$DATA_OUTPUT_NAME=QUEUE_q2_results$EOF_QUANTITY=3$ACCUMULATOR=True$END=True$LOG=global_decade_counter_worker_q2

# QUERY 3
-filter_year_worker_q3-$./workers_dockerfiles/filter_year_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=6$WORKERS_QUANTITY=3$EOF_QUANTITY=1$YEAR_RANGE_TO_FILTER=1990,1999$DATA_SOURCE_NAME=QUEUE_Q3|filter_year_worker$DATA_OUTPUT_NAME=QUEUE_Q3|reviews_counter_worker_titles$EXCHANGE_TYPE=fanout$LOG=filter_year_worker_q3
-reviews_counter_worker$./workers_dockerfiles/reviews_counter_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=6$DATA_SOURCE_TITLES_NAME=QUEUE_Q3|reviews_counter_worker_titles$DATA_SOURCE_REVIEWS_NAME=QUEUE_Q3|reviews_counter_worker_reviews$DATA_OUTPUT_NAME=QUEUE_Q3|filter_review_quantity_worker$EOF_QUANTITY_TITLES=3$EOF_QUANTITY_REVIEWS=1$ACCUMULATOR=True$LOG=reviews_counter_worker_q3$MAX_UNACKED_MSGS=150
-filter_review_quantity_worker$./workers_dockerfiles/filter_review_quantity_worker.dockerfile
+DATA_SOURCE_NAME=QUEUE_Q3|filter_review_quantity_worker$DATA_OUTPUT_NAME=QUEUE_q3_results,QUEUE_Q4|top10_worker$MIN_QUANTITY=500$EOF_QUANTITY=6$WORKERS_QUANTITY=1$NEXT_WORKER_QUANTITY=5$ACCUMULATOR=True$END=True$WORKER_ID=0$LOG=filter_review_quantity_worker_q3

# QUERY 4
-top10_worker$./workers_dockerfiles/top_10_worker.dockerfile
+TOP_N=10$DATA_SOURCE_NAME=QUEUE_Q4|top10_worker$DATA_OUTPUT_NAME=QUEUE_Q4|top10_last_worker$WORKERS_QUANTITY=5$LAST=0$WORKER_ID=0$EOF_QUANTITY=1$NEXT_WORKERS_QUANTITY=1$LOG=top10_worker_q4
-top_10_worker_last$./workers_dockerfiles/top_10_worker.dockerfile
+TOP_N=10$DATA_SOURCE_NAME=QUEUE_Q4|top10_last_worker$DATA_OUTPUT_NAME=QUEUE_q4_results$WORKERS_QUANTITY=1$LAST=1$WORKER_ID=0$EOF_QUANTITY=3$ACCUMULATOR=True$END=True$NEXT_WORKERS_QUANTITY=1

# QUERY 5
-review_sentiment_worker$./workers_dockerfiles/review_sentiment_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=4$DATA_SOURCE_NAME=QUEUE_Q5|review_sentiment_worker$DATA_OUTPUT_NAME=QUEUE_Q5|mean_review_sentiment_reviews$NEXT_WORKER_QUANTITY=6$EOF_QUANTITY=1$LOG=review_sentiment_worker_q5
-filter_category_worker$./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=0$NEXT_WORKER_QUANTITY=6$WORKERS_QUANTITY=3$CATEGORY=Fiction$DATA_SOURCE_NAME=QUEUE_Q5|filter_category_worker$DATA_OUTPUT_NAME=QUEUE_Q5|mean_review_sentiment_titles$EOF_QUANTITY=1$LOG=filter_category_worker_q5
-mean_review_sentiment_worker$./workers_dockerfiles/mean_review_sentiment_worker.dockerfile
+WORKER_ID=0$WORKERS_QUANTITY=6$DATA_SOURCE_TITLES_NAME=QUEUE_Q5|mean_review_sentiment_titles$DATA_SOURCE_REVIEWS_NAME=QUEUE_Q5|mean_review_sentiment_reviews$EOF_QUANTITY_TITLES=3$EOF_QUANTITY_REVIEWS=4$DATA_OUTPUT_NAME=QUEUE_Q5|percentile_worker$ACCUMULATOR=True$LOG=mean_review_sentiment_worker_q5$MAX_UNACKED_MSGS=150
-percentile_worker$./workers_dockerfiles/percentile_worker.dockerfile
+DATA_SOURCE_NAME=QUEUE_Q5|percentile_worker$DATA_OUTPUT_NAME=QUEUE_q5_results$PERCENTILE=90$WORKER_ID=0$WORKERS_QUANTITY=1$EOF_QUANTITY=6$ACCUMULATOR=True$END=True$NEXT_WORKERS_QUANTITY=1$LOG=percentile_worker_q5