-filter_category_computers_worker0, ./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=0, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, CATEGORY=Computers, SOURCE_QUEUE=q1_titles, DATA_SOURCE_NAME=data, DATA_OUTPUT_NAME=QUEUE_Q1|filter_title_worker, EOF_QUEUE=QUEUE_Q1|eof_category
-filter_category_computers_worker1, ./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=1, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, CATEGORY=Computers, SOURCE_QUEUE=q1_titles, DATA_SOURCE_NAME=data, DATA_OUTPUT_NAME=QUEUE_Q1|filter_title_worker, EOF_QUEUE=QUEUE_Q1|eof_category
-filter_category_computers_worker2, ./workers_dockerfiles/filter_category_worker.dockerfile
+WORKER_ID=2, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, CATEGORY=Computers, SOURCE_QUEUE=q1_titles, DATA_SOURCE_NAME=data, DATA_OUTPUT_NAME=QUEUE_Q1|filter_title_worker, EOF_QUEUE=QUEUE_Q1|eof_category
-filter_title_worker0, ./workers_dockerfiles/filter_title_worker.dockerfile
+WORKER_ID=0, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, TITLE_TO_FILTER=distributed, DATA_SOURCE_NAME=QUEUE_Q1|filter_title_worker, DATA_OUTPUT_NAME=QUEUE_Q1|filter_year_worker, EOF_QUEUE=QUEUE_Q1|eof_title
-filter_title_worker1, ./workers_dockerfiles/filter_title_worker.dockerfile
+WORKER_ID=1, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, TITLE_TO_FILTER=distributed, DATA_SOURCE_NAME=QUEUE_Q1|filter_title_worker, DATA_OUTPUT_NAME=QUEUE_Q1|filter_year_worker, EOF_QUEUE=QUEUE_Q1|eof_title
-filter_title_worker2, ./workers_dockerfiles/filter_title_worker.dockerfile
+WORKER_ID=2, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=3, TITLE_TO_FILTER=distributed, DATA_SOURCE_NAME=QUEUE_Q1|filter_title_worker, DATA_OUTPUT_NAME=QUEUE_Q1|filter_year_worker, EOF_QUEUE=QUEUE_Q1|eof_title
-filter_year_worker0, ./workers_dockerfiles/filter_year_worker.dockerfile
+WORKER_ID=0, WORKER_QUANTITY=3, NEXT_WORKER_QUANTITY=1, YEAR_RANGE_TO_FILTER=2000,2023, DATA_SOURCE_NAME=QUEUE_Q1|filter_year_worker, DATA_OUTPUT_NAME=QUEUE_Q1|filter_price_worker, EOF_QUEUE=QUEUE_Q1|eof_year